fastapi
uvicorn
langchain
langgraph
langchain-ollama
langchain-core
pydantic
python-dotenv
sqlalchemy
psycopg[binary]
psycopg-pool
chromadb
docling
langchain-chroma
langchain-docling
langchain-text-splitters
mcp
langchain-mcp-adapters
exa-py==2.16.0
langgraph-checkpoint-postgres